.wrapper {
    min-height: 100vh;
}

.pointer {
    cursor: pointer;
}

.dropdown button {
    width: 100px;
    opacity: 0.8;
}

.dropdown button::after {
    display: none;
}

#overlay {
    padding: 100px;
    padding-top: 200px;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 10000;
}

#overlay .spinner-border {
    min-width: 10vw;
    min-height: 10vw;
    font-size: 30px;
}

#single {
    max-width: 1000px;
    min-height: 500px;
}

#single img {
    max-height: 500px;
    object-fit: contain;
}

#single button {
    width: 180px;
}

.line {
    opacity: 0.7;
    height: 5px !important;
}

#product img {
    padding: 10px 5px 0;
    height: 165px;
    object-fit: contain;
}


#cart .description {
    max-height: 50px;
    overflow: hidden;
}

#cart-numbers li:last-child span:last-child {
    font-weight: bolder;
}

#name {
    font-family: 'Nabla', cursive;
}

#mario {
    width: 200px;
    position: relative;
    animation-name: mariorun;
    animation-duration: 12s;
    animation-iteration-count: 100;
    animation-timing-function: linear;
}

@keyframes mariorun {
    0% {
        left: 0%
    }

    100% {
        left: 88%
    }
}

#remove {
    font-family: 'Kalam', cursive;
    font-family: 'Permanent Marker', cursive;
}

#add {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#cartButton {
    background-color: rgba(165, 165, 165, 0.282);
}

#cartNumber {
    background-color: transparent;
}

#date {
    color: rgba(123, 121, 120, 0.642);
}

#price {
    color: rgba(22, 225, 7, 0.572);
}
#title {
    color: rgb(255, 255, 255);
    font-family: 'Russo One', sans-serif;
}
#homePrice {
    color: rgb(0, 0, 0);
}
#cartTitle {
    color: rgb(0, 0, 0);
}
#cartPrice {
    color: rgb(61, 187, 19);
}